<div class="card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title card-wide-image-about">
    <h2 class="mdl-card__title-text">Marina Soares</h2>
  </div>
  <div class="mdl-card__supporting-text">
  	<p>
  		Olá, meu nome é Marina Soares, fique à vontade, puxe uma cadeira e fique confortável. Vamos conversar? Pode escolher o assunto, eu gosto de música, mas fique à vontade, pois por alguns anos cursei Comunicação Social na  Uversidade Federal de Minas Gerais. Podemos conversar sobre tecnologia também, pois antes disso cursava nesta mesma Universidade Federal de Minas Gerais o curso de Sistemas de Informação, mas como eu disse, a música é a grande paixão e ela me levou ao curso de Musicoterapia da Universidade Federal de Minas Gerais, com previsão de formatura em julho de 2017.
  	</p>
  	<p>
  		Ah, quando eu falo de música, falo do meu violino, falo do violão e falo do teclado, mas falo, também e principalmene do canto e das  práticas vocais e da composição autoral de letras, arranjos e melodias, isso, pois sou membra do Coral Irmão Luiz Alberto desde o ano de 2011, com dois CD's já gravados e fundadora do projeto Panapanã em 2016. É, com certeza a música é a verdadeira paixão e aos poucos  vamos colocando a terapia na conversa, assim falamos de Música e Terapia ou como eu prefiro, Música é Terapia.
  	</p>
  	<p>
  		Terapia para crianças, para adultos, para os mais experientes,  mas para mim, ensinando, ouvindo, cantando e fazendo música. A terapia não é somente para acalmar, mas para tratar e para cuidar, para abrir mentes e novos horiontes na vida de todas as pessoas que se submetem à música, tocando, criando ou ouvindo, a partir de metodologias científicas e muito, mas muito cuidado.  Profissionalmente, eu atuo perante a AMR (Associação Mineira de Reabilitação) e à Casa Ozanã.
  	</p>
  	<p>
  		Vamos fazer música? E terapia?
  	</p>
  </div>
</div>