<div class="android-be-together-section mdl-typography--text-center">
	<div class="logo-font android-slogan">Música (é) e terapia.</div>
</div>

<div class="card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Musicoterapia</h2>
  </div>
  <div class="mdl-card__supporting-text">
  	<p>
  		Estudos em neuroimagem, em amusia, afasia e outras lesões têm possibilitado a análise do funcionamento cerebral em relação ao processamento musical. Em termos de parâmetros musicais, destacam-se os âmbitos melódico e rítmico, que parecem ser processados em módulos (localizações funcionais) diferentes do cérebro. Apesar dessa diferenciação, a percepção e execução musicais de maneira plena só são possíveis com a ativação de basicamente todos os módulos envolvidos, de modo que as áreas cerebrais de linguagem, motricidade, emoções, audição, visão, memória, tempo-espaço, entre outras, estão ativas e funcionam de maneira interrelacionada.
  	</p>
  	<p>
  		O âmbito melódico/hamônico parece estar mais associado a áreas de processamento emocional, enquanto o rítmico se relaciona bastante com questões de tempo/espaço, por exemplo, não obstante estarem associadas também a outras funções. Alguns estudos em neurociências que relacionam a música ao cuidado com as emoções, como ansiedade, demonstram a efetividade neuroquímica do exercício musical conduzido terapeuticamente para respostas biológicas favoráveis no auxílio ao tratamento de desequilíbrios orgânicos.
  	</p>
  	<p>
  		Este aspecto é bastante interessante pois vai além de considerar os efeitos da música em relação às emoções de forma subjetiva e abstrata, demonstrando alterações em batimentos cardíacos, controle respiratório, fluxo sanguíneo, atividade dos lobo límbico, etc. 
  	</p>
  </div>
</div>

<div class="card-wide-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title card-wide-image-home">
    <h2 class="mdl-card__title-text">Benefícios</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>
    	Atualmente, podemos notar que o campo de estudos em neurociências e música é bastante amplo, pois há de se considerar ainda estímulo à neuroplasticidade, reabilitação e desenvolvimento cognitivo/motor, a localização das funções musicais nos módulos cerebrais, a memória, entre muitas outras áreas de pesquisa.
    </p>
</div>

<div class="card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Música</h2>
  </div>
  <div class="mdl-card__supporting-text">
    
    <p>
    	Em relação à educação musical propriamente dita, seria interessante ressaltar que o estudo de música, ainda que não como um processo terapêutico, sempre será algo a estimular o funcionamento cerebral, de maneira indireta e inconsciente. Isto é um efeito natural do processamento musical, por envolver tantas áreas homólogas a diversas outras funções. Sem colocar em detrimento aqui a questão educação musical vs musicoterapia, vale refletirmos sobre as demandas dos adolescentes, adultos e idosos, as demandas pessoais de cada indivíduo para talvez compreender a relação de cada um com o fazer musical, seja no aprendizado ou no processo terapêutico.
    </p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Fale comigo
    </a>
  </div>
</div>